<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papitas!</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>Menu</header>
    
    <main>
        <h1>Papitas Pa'todos!</h1>

        <h2>Cocinar Papitas</h2>
        <form action="/" method="post">
            <div>
                <label for="title">Plato Principal:</label>
                <input type="text" name="title" id="title">
            </div>
            <button type="submit">Preparar</button>
        </form>

        <h2>Papitas Preparadas</h2>
        <ul>
            <li>Papitas Fritas</li>
            <li>Papitas al Horno</li>
            <li>Papitas con Salsa</li>
        </ul>
    </main>
    
    <footer>
        <small>copy 2023</small>
    </footer>

    <script src="/js/script"></script>
</body>
</html>